defaults/flow.json
[{"id":"e6d25856.1f7658","type":"ibmiot in","z":"bbb7f87e.c2053","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"c4be8471188b","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":79,"y":143,"wires":[["b8e2ba64.d1d1c","569dda7a.5bb624","34e39609.e35d9a","537b6a77.c43c7c","3763dc63.6bf5d4","e79a275.1cb8958","d7ad012c.a73cd8"]]},{"id":"b8e2ba64.d1d1c","type":"ui_text","z":"bbb7f87e.c2053","group":"8118a9a6.afacd8","order":2,"width":0,"height":0,"name":"","label":"RoseTilt","format":"{{msg.payload.d.accelX}}","layout":"row-spread","x":301.000732421875,"y":150.84133911132812,"wires":[]},{"id":"7bc1a30f.9b99e4","type":"debug","z":"bbb7f87e.c2053","name":"","active":false,"console":"false","complete":"payload","x":771.9993896484375,"y":162.68170166015625,"wires":[]},{"id":"569dda7a.5bb624","type":"function","z":"bbb7f87e.c2053","name":"","func":"var v = parseFloat(msg.payload.d.accelX.replace(\",\",\".\")\n);\n\nif ( v > -0.6 ){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nvar w = {};\nw.payload = v;\n\nreturn [msg, w];","outputs":"2","noerr":0,"x":293.9840393066406,"y":232.3006591796875,"wires":[["f41b789a.1927e","50b14b06.23337c"],["afed0c59.3c1a48"]]},{"id":"f41b789a.1927e","type":"ui_text","z":"bbb7f87e.c2053","group":"8118a9a6.afacd8","order":1,"width":0,"height":0,"name":"","label":"Raw Value","format":"{{msg.payload}}","layout":"row-spread","x":467.99322509765625,"y":180.16195678710938,"wires":[]},{"id":"afed0c59.3c1a48","type":"debug","z":"bbb7f87e.c2053","name":"","active":true,"console":"false","complete":"payload","x":465.99920654296875,"y":284.68353271484375,"wires":[]},{"id":"50b14b06.23337c","type":"rbe","z":"bbb7f87e.c2053","name":"","func":"rbe","gap":"","start":"","inout":"out","x":449.98626708984375,"y":229.11727905273438,"wires":[["7bc1a30f.9b99e4","d3c81381.6d262","bd1f741f.09b938"]]},{"id":"d3c81381.6d262","type":"function","z":"bbb7f87e.c2053","name":"","func":"if (msg.payload){\n    msg.topic = \"Rose\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":755.9963989257812,"y":269.8717956542969,"wires":[["9316b3c2.e1639"]]},{"id":"cc9f43c1.5fb28","type":"ui_button","z":"bbb7f87e.c2053","name":"Rose","group":"85566cf8.32d0a","order":0,"width":"2","height":"1","label":"Rose","color":"#1F77B4","icon":"","payload":"true","payloadType":"bool","topic":"Rose","x":753,"y":353.99998474121094,"wires":[["9316b3c2.e1639"]]},{"id":"391e694a.164546","type":"ui_button","z":"bbb7f87e.c2053","name":"Vanille","group":"85566cf8.32d0a","order":0,"width":"2","height":"1","label":"Vanille","color":"#AEC7E8","icon":"","payload":"true","payloadType":"bool","topic":"Vanille","x":757.0151977539062,"y":443.0018615722656,"wires":[["9316b3c2.e1639"]]},{"id":"e2c94203.c71ba8","type":"ui_button","z":"bbb7f87e.c2053","name":"Citrus","group":"85566cf8.32d0a","order":0,"width":"2","height":"1","label":"Citrus","color":"#FF7F0E","icon":"","payload":"true","payloadType":"bool","topic":"Citrus","x":756.0148315429688,"y":537.0183715820312,"wires":[["9316b3c2.e1639"]]},{"id":"d1243749.923eb8","type":"ui_button","z":"bbb7f87e.c2053","name":"Lawn","group":"85566cf8.32d0a","order":0,"width":"2","height":"1","label":"Lawn","color":"#FFBB78","icon":"","payload":"true","payloadType":"bool","topic":"Lawn","x":756.0118408203125,"y":629.0029907226562,"wires":[["9316b3c2.e1639"]]},{"id":"f101d6d7.4233a","type":"ui_chart","z":"bbb7f87e.c2053","name":"Usage","group":"1f55e78c.35c05","order":1,"width":"0","height":"0","label":"Usage","interpolate":"linear","nodata":"Waiting for data","ymin":"0","ymax":"23","removeOlder":"10","removeOlderUnit":"60","x":1119.0158081054688,"y":582.908935546875,"wires":[[],[]]},{"id":"9316b3c2.e1639","type":"function","z":"bbb7f87e.c2053","name":"","func":"var Rose    = {};\nvar Vanille = {};\nvar Citrus  = {};\nvar Lawn    = {};\nvar db      = {};\n\ndb.timestamp = Date.now();\n\nRose.payload    = global.get('Rose')   ||0;\nRose.topic = \"Rose\";\n\nVanille.payload = global.get('Vanille')||0;\nVanille.topic = \"Vanille\";\n\nCitrus.payload  = global.get('Citrus') ||0;\nCitrus.topic = \"Citrus\";\n\nLawn.payload    = global.get('Lawn')   ||0;\nLawn.topic = \"Lawn\";\n\nif (msg.topic == \"Rose\"){\n    db.element = \"Rose\";\n    Rose.payload++;\n    db.counter = Rose.payload;\n}\n\nif (msg.topic == \"Vanille\"){\n    db.element = \"Vanille\";\n    Vanille.payload++;  \n    db.counter = Vanille.payload;\n}\n\nif (msg.topic == \"Citrus\"){\n    db.element = \"Citrus\";\n    Citrus.payload++;\n    db.counter = Citrus.payload;\n}\n\nif (msg.topic == \"Lawn\"){\n    db.element = \"Lawn\";\n    Lawn.payload++;\n    db.counter = Lawn.payload;\n}\n\nglobal.set('Rose'   , Rose.payload);\nglobal.set('Vanille', Vanille.payload);\nglobal.set('Citrus' , Citrus.payload);\nglobal.set('Lawn'   , Lawn.payload);\n\nreturn [[Rose, Vanille, Citrus, Lawn], db];    ","outputs":"2","noerr":0,"x":975.0050659179688,"y":583.5358657836914,"wires":[["f101d6d7.4233a"],["927da9a0.18aa18"]]},{"id":"b7b3fa87.ecdae8","type":"ui_toast","z":"bbb7f87e.c2053","name":"Used!","x":894.9918823242188,"y":219.1319351196289,"wires":[]},{"id":"87116bc5.a753a","type":"ui_chart","z":"bbb7f87e.c2053","name":"Ambient TemperatureC","group":"1e8ea425.6ba6c4","order":2,"width":"0","height":"0","label":"Ambient Temperature","interpolate":"linear","nodata":"","ymin":"20","ymax":"40","removeOlder":"10","removeOlderUnit":"60","x":493.99560546875,"y":359.1576232910156,"wires":[[],[]]},{"id":"14c04b55.5df04d","type":"ui_gauge","z":"bbb7f87e.c2053","name":"Ambient TemperatureG","group":"1e8ea425.6ba6c4","order":1,"width":"0","height":"0","gtype":"gage","title":"Ambient Temperature","label":"units","format":"{{value}}","min":"20","max":"40","x":495.00177001953125,"y":391.1621398925781,"wires":[]},{"id":"665a724d.2c5f44","type":"ui_gauge","z":"bbb7f87e.c2053","name":"HumidityG","group":"c49bc801.db37f8","order":1,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"30","max":"100","x":452.0020446777344,"y":621.1534423828125,"wires":[]},{"id":"2fad155b.a148ba","type":"ui_chart","z":"bbb7f87e.c2053","name":"HumidityC","group":"c49bc801.db37f8","order":2,"width":"0","height":"0","label":"Humidity","interpolate":"linear","nodata":"","ymin":"30","ymax":"100","removeOlder":"10","removeOlderUnit":"60","x":452.00506591796875,"y":588.1436767578125,"wires":[[],[]]},{"id":"dbd3e72c.fc39d8","type":"ui_chart","z":"bbb7f87e.c2053","name":"LightC","group":"cd78ccb0.2eb258","order":2,"width":"0","height":"0","label":"Light","interpolate":"linear","nodata":"","ymin":"0","ymax":"400","removeOlder":"10","removeOlderUnit":"60","x":427.99078369140625,"y":704.146484375,"wires":[[],[]]},{"id":"32eb09af.91a606","type":"ui_gauge","z":"bbb7f87e.c2053","name":"LightG","group":"cd78ccb0.2eb258","order":1,"width":"0","height":"0","gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"400","x":428.99078369140625,"y":736.1650390625,"wires":[]},{"id":"34e39609.e35d9a","type":"function","z":"bbb7f87e.c2053","name":"Temperature","func":"var v = parseFloat(msg.payload.d.ambientTemp.replace(\",\",\".\"));\nmsg={};\nmsg.topic = \"Ambient Temperature\"\nmsg.payload = v;\nreturn msg;","outputs":1,"noerr":0,"x":292.9889221191406,"y":373.6210021972656,"wires":[["87116bc5.a753a","14c04b55.5df04d"]]},{"id":"537b6a77.c43c7c","type":"function","z":"bbb7f87e.c2053","name":"Humidity","func":"var v = parseFloat(msg.payload.d.humidity.replace(\",\",\".\"));\nmsg={};\nmsg.topic = \"Humidity\"\nmsg.payload = v;\n\nreturn msg;","outputs":1,"noerr":0,"x":281.98272705078125,"y":602.6031494140625,"wires":[["2fad155b.a148ba","665a724d.2c5f44"]]},{"id":"3763dc63.6bf5d4","type":"function","z":"bbb7f87e.c2053","name":"Light","func":"var v = parseFloat(msg.payload.d.light.replace(\",\",\".\"));\nmsg={};\nmsg.topic = \"Light\"\nmsg.payload = v;\n\nreturn msg;","outputs":1,"noerr":0,"x":278.9973449707031,"y":717.6088104248047,"wires":[["dbd3e72c.fc39d8","32eb09af.91a606"]]},{"id":"e79a275.1cb8958","type":"function","z":"bbb7f87e.c2053","name":"Object","func":"var v = parseFloat(msg.payload.d.objectTemp.replace(\",\",\".\"));\nmsg={};\nmsg.topic = \"IR Temperature\"\nmsg.payload = v;\nreturn msg;\n","outputs":1,"noerr":0,"x":278.9973449707031,"y":489.6855926513672,"wires":[["26249d1c.cf3baa","1fb5afe6.927f08"]]},{"id":"26249d1c.cf3baa","type":"ui_gauge","z":"bbb7f87e.c2053","name":"IR TemperatureG","group":"92f7db0.fe468a8","order":1,"width":"0","height":"0","gtype":"gage","title":"IR Temperature","label":"units","format":"{{value}}","min":"0","max":"40","x":479.0010986328125,"y":511.0616455078125,"wires":[]},{"id":"5d5ab5e8.8ec47c","type":"inject","z":"bbb7f87e.c2053","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":748.9853515625,"y":704.4000854492188,"wires":[["9316b3c2.e1639"]]},{"id":"8ccac630.8c2518","type":"cloudant out","z":"bbb7f87e.c2053","name":"","cloudant":"","database":"usage","service":"symproject-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1276.9942626953125,"y":630.1202392578125,"wires":[]},{"id":"927da9a0.18aa18","type":"switch","z":"bbb7f87e.c2053","name":"","property":"element","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1119.0003662109375,"y":644.6421508789062,"wires":[["8ccac630.8c2518","fec7c3ad.12d86"]]},{"id":"fec7c3ad.12d86","type":"debug","z":"bbb7f87e.c2053","name":"","active":true,"console":"false","complete":"true","x":1278.9830322265625,"y":687.6924438476562,"wires":[]},{"id":"a52a00.e30446","type":"cloudant out","z":"bbb7f87e.c2053","name":"","cloudant":"","database":"environment","service":"symproject-cloudantNoSQLDB","payonly":true,"operation":"insert","x":451.003173828125,"y":855.3002319335938,"wires":[]},{"id":"d7ad012c.a73cd8","type":"function","z":"bbb7f87e.c2053","name":"","func":"msg.payload.timestamp = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":262.9907989501953,"y":821.2101440429688,"wires":[["a52a00.e30446","720fae8d.e5079"]]},{"id":"720fae8d.e5079","type":"debug","z":"bbb7f87e.c2053","name":"","active":false,"console":"false","complete":"payload","x":448.99713134765625,"y":809.6954956054688,"wires":[]},{"id":"1fb5afe6.927f08","type":"ui_chart","z":"bbb7f87e.c2053","name":"IR TemperatureG","group":"92f7db0.fe468a8","order":0,"width":0,"height":0,"label":"IR Temperature","interpolate":"linear","nodata":"","ymin":"0","ymax":"40","removeOlder":"10","removeOlderUnit":"60","x":477.9864501953125,"y":475.7518615722656,"wires":[[],[]]},{"id":"bd1f741f.09b938","type":"function","z":"bbb7f87e.c2053","name":"","func":"msg.topic=\"Notification\";\nmsg.payload=\"Bottle 'Rose' is used!\";\nreturn msg;","outputs":1,"noerr":0,"x":687.9922485351562,"y":218.08387756347656,"wires":[["b7b3fa87.ecdae8"]]},{"id":"8b0951ad.ec4118","type":"ui_button","z":"bbb7f87e.c2053","name":"","group":"1f55e78c.35c05","order":0,"width":0,"height":0,"label":"Reset","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":753.9930419921875,"y":774.4389038085938,"wires":[["8483e43c.c98468"]]},{"id":"8483e43c.c98468","type":"function","z":"bbb7f87e.c2053","name":"","func":"global.set('Rose'   , 0);\nglobal.set('Vanille', 0);\nglobal.set('Citrus' , 0);\nglobal.set('Lawn'   , 0);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":924.0039672851562,"y":773.2076416015625,"wires":[[]]},{"id":"8118a9a6.afacd8","type":"ui_group","z":"","name":"Debug","tab":"94be7dec.95c21","order":2,"disp":true,"width":"6"},{"id":"85566cf8.32d0a","type":"ui_group","z":"bbb7f87e.c2053","name":"Manual","tab":"151a4679.df85d2","order":1,"disp":true,"width":"2"},{"id":"1f55e78c.35c05","type":"ui_group","z":"bbb7f87e.c2053","name":"Usage","tab":"151a4679.df85d2","order":2,"disp":true,"width":"10"},{"id":"1e8ea425.6ba6c4","type":"ui_group","z":"","name":"Temperature","tab":"6ff8cc65.446a6c","order":2,"disp":true,"width":"5"},{"id":"c49bc801.db37f8","type":"ui_group","z":"","name":"Humidity","tab":"6ff8cc65.446a6c","order":3,"disp":true,"width":"5"},{"id":"cd78ccb0.2eb258","type":"ui_group","z":"","name":"Light","tab":"6ff8cc65.446a6c","order":4,"disp":true,"width":"5"},{"id":"92f7db0.fe468a8","type":"ui_group","z":"","name":"IR Temperature","tab":"6ff8cc65.446a6c","order":1,"disp":true,"width":"6"},{"id":"94be7dec.95c21","type":"ui_tab","z":"","name":"Debug","icon":"dashboard","order":4},{"id":"151a4679.df85d2","type":"ui_tab","z":"","name":"Usage","icon":"dashboard","order":2},{"id":"6ff8cc65.446a6c","type":"ui_tab","z":"","name":"Display","icon":"dashboard","order":1}]
